<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>671280788159-1dd77fb1531b5tsqh7r2qb81celrfitc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.671280788159-1dd77fb1531b5tsqh7r2qb81celrfitc</string>
	<key>API_KEY</key>
	<string>AIzaSyChybQsz0X_y-VqmkuWwgN_e5OhQl382og</string>
	<key>GCM_SENDER_ID</key>
	<string>671280788159</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.hourseLux</string>
	<key>PROJECT_ID</key>
	<string>horselux-167fb</string>
	<key>STORAGE_BUCKET</key>
	<string>horselux-167fb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:671280788159:ios:74e9f6a2ef180a63dc8c0a</string>
</dict>
</plist>